.register-form {
    min-height: fit-content;
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.25rem;
    text-align: center;
}

.form-group {
    margin: .25rem auto;
    height: 6.5rem;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: 2.5rem;

}