.title {
    font-size: 1.25rem;
    font-weight: 700;
}

.form {
    min-height: fit-content;
    padding: 1.25rem;
    max-width: 24.5rem;
  
    background-color: #ffff;
    border-radius: .75rem;
    margin: 3rem auto;
}

.form--section-1 {
    text-align: center;
}

.form--section-1 img {
    max-width: max-content;
    width: 7.5rem;
    min-height: 7.5rem;
    object-fit: cover;
}

.form-group {
    margin: 1.25rem auto 0 auto;
    display: flex;
    align-items: center;
    gap: .5rem;

    justify-content: space-between;
}

.form-group input {
    padding: .5rem .75rem;
}

.error-main {
    text-align: center;
}

.error,.success {
    margin: 0;
    font-size: .85rem;
    font-weight: 400;   
}

.error {
    color: red;
}

.success {
    color: green;
}

.footer {
    margin: 1.75rem 0 0 0 ;
}