:root {
    --common-button: .65rem 1.05rem;
}

.btn {
    padding: var(--common-button);
    border-radius: 1.25rem;
    border: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: #ffff;
    background-color: #37B7C3;
    cursor: pointer;
}