.main-container {
    max-width: 50rem;
    margin: 0 auto;
}

.main-container__title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    margin: 1.25rem 0;
}

.start-quiz__link {
    color: black;
    padding: .75rem 1.25rem;
    border-radius: 1.75rem;
    font-size: 1.25rem;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.75rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    margin: 1.25rem auto;
}