:root {
    --common-button: .65rem 1.05rem;
}

.main-container__title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 3.75rem;
    margin: 1.25rem 0;
}

.start-quiz__link {
    color: black;
    padding: var(--common-button);
    border-radius: 1.25rem;
    font-size: 1.05rem;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.75rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    margin: 1.25rem auto;
    color: #ffff;
    background-color: #37B7C3;
    cursor: pointer;
}

