.user-card {
    max-width: 15rem;
    background-color: white;
    border-radius: .5rem;
    position: relative;
    margin: 0 .5rem;
    padding: .75rem .5rem;
}

.user-card::after {
    --position: calc(.5rem + .25rem);
    content: "";
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    top: var(--position);
    left: var(--position);

}

.user-card svg {
    height: 5.5rem;
}

.user-card--header {
    text-align: center;
}