.quiz-card {
    margin: 1.25rem 0 ;
}

.title {
    font-weight: 500;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    top: calc(.75rem + .65rem);
    left: 0;
    height: .25rem;
    width: 100%;
    background-color: black;
    transform-origin: left;
}

.item {
    max-width: 20.5rem;
    position: relative;
    padding: .75rem .5rem;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.item::before {
    content: "";
    width: 1.75rem;
    height: 1.75rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: black;
    position: absolute;
    top: 0;
    left: calc(.75rem - 3rem);
}

.item::after {
    content: "";
    width: 1.75rem;
    height: 1.75rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
   
    position: absolute;
    top: 0;
    left: calc(.75rem - 2.75rem);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;

}

