.container {
    min-height: fit-content;
    padding: 1.5rem 1.25rem ;
    max-width: 24.5rem;
 
    background-color: #ffff;
    border-radius: .75rem;
    margin: 3rem auto;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

}


.form-group {
    margin: 1.25rem auto 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    
}

.form-group input {
    padding: .5rem .75rem;
}