.svg  {
    position: absolute;
    top: 0;
    left: calc(45% + .05rem);
    height: 1.5rem;
    z-index: 2;
    animation: moveCheck .25s ease-out;
}

@keyframes moveCheck {
    from {
        top: .5rem;
    }  to {
        top: 0;
    }
}

