.svg  {
    position: absolute;
    top: 0;
    left: calc(45% + .05rem);
    height: 1.5rem;
    z-index: 2;
    animation: moveCheck .25s ease-out;
}

@keyframes moveCheck {
    from {
        top: .5rem;
    }  to {
        top: 0;
    }
}

.quiz-question__answer {
    width: 45%;
    min-height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 2.5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
}

.quiz-question__answer-active {
    background-color: green;
}