:root {
    --general-margin--design: .5rem auto 0 auto;
}

.quiz-modification {
    max-width: 65rem;
    margin: var(--general-margin--design);
    text-align: center;
}

.trigger {
    max-width: 20.5rem;
    margin: var(--general-margin--design);
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem;
    border: 1px solid black;  
    border-radius: .75rem;  


    display: flex;
    justify-content:space-between;
}


.button-section {
    margin: .75rem 0 0 0;
}

