.quiz-question {
    font-size: 1.25rem;
    text-align: center;
}

.quiz-body__selection {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}



.quiz-question__answer {
    flex: 1;
    max-width: 27.5rem;
    min-height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    font-size: .75rem;

    display: flex;
    align-items: center;
    justify-content: center;

}