
.quiz-body {
    margin: 0 0 1.25rem 0 ;
}

.quiz-question {
    font-size: 1.25rem;
    text-align: center;
}

.quiz-body__selection {
    max-width: 65%;
    display: grid;
    grid-template-columns: repeat(2,min(20rem,55%));
    grid-template-rows: repeat(2,10.5rem);
    justify-content: center;
    margin: 0 auto;
    gap: 1.25rem;
}


.quiz-question__answer {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 2.5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    font-size: .85rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* .quiz-question__answer {
    width: 45%;
    min-height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 2.5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
} */

.quiz-question__answer-active {
    background-color: green;
}